<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gym.mapper.AttendanceMapper">
	<!-- 출석체크 -->
	<insert id="insertAttendance" parameterType="java.util.Map">
		INSERT INTO customer_attendance (
					program_reservation_no,
					customer_attendance_enter_time
		   )VALUES (
					 #{programReservationNo},
					 #{customerAttendanceEnterTime}
					)
	</insert>
	<!--출석정보 조회 -->
	<select id="selectCustomerAttendance" parameterType="java.util.Map" 
	        resultType="java.util.Map">
        SELECT program_reservation_no programReservationNo,
        	   customer_attendance_enter_time customerAttendanceEnterTime
          FROM customer_attendance 
    </select>
    
    <select id="selectAttendance" parameterType="Integer"
                              resultType="java.util.Map">		
	    SELECT ca.customer_attendance_no AS customerAttendanceNo,
			   ca.customer_attendance_enter_time AS customerAttendanceEnterTime,
			   pro.program_name AS programName,
			   b.branch_name AS branchName
		  FROM customer_attendance ca INNER JOIN program_reservation pr
		    ON ca.program_reservation_no = pr.program_reservation_no INNER JOIN payment p
			ON p.payment_no = pr.payment_no INNER JOIN program_date pd
		    ON pr.program_date_no = pd.program_date_no INNER JOIN program pro
		    ON pro.program_no = pd.program_no INNER JOIN branch b
		    ON b.branch_no = pr.branch_no
		WHERE p.customer_no = #{customerNo}
	</select>

</mapper>