<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gym.mapper.ProgramMapper">
	
	<insert id="insertProgram" parameterType="com.example.gym.vo.Program">
		INSERT INTO program (
			employee_no,
			program_name,
			program_max_customer
		) VALUES (
			#{employeeNo},
			#{programName},
			#{programMaxCustomer}
		)		
	</insert>
	
	<delete id="deleteProgram" parameterType="com.example.gym.vo.Program">
		DELETE FROM program
			WHERE program_no = #{programNo}
	</delete>
	
	<update id="updateProgram" parameterType="com.example.gym.vo.Program">
		UPDATE program SET
			employee_no = #{employeeNo},
			program_name = #{programName},
			program_max_customer = #{programMaxCustomer},
			updatedate = NOW()
		WHERE program_no = #{programNo}
	</update>
	
	<select id="selectProgramList" resultType="com.example.gym.vo.Program">
		SELECT
			program_no AS programNo,
			employee_no AS employeeNo,
			program_name AS programName,
			program_max_customer AS programMaxCustomer,
			createdate, updatedate			
		FROM program		
	</select>
	
	<select id="selectProgramOne" parameterType="com.example.gym.vo.Program"
				resultType="java.util.Map">
		SELECT
			p.program_no AS programNo,
			p.employee_no AS employeeNo,
			p.program_name AS programName,
			p.program_max_customer AS programMaxCustomer,
			p.createdate, p.updatedate,
			
			ed.employee_name AS employeeName,
			ed.employee_phone AS employeePhone,
			ed.employee_email AS employeeEmail,
			ed.employee_gender AS employeeGender
			
		FROM program p
		INNER JOIN employee_detail ed
		ON p.employee_no = ed.employee_no
		
		WHERE program_no = #{programNo}
	</select>
	
			
	
	
	
</mapper>