<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gym.mapper.QuestionMapper">
	<insert id="insertQuestion" parameterType="com.example.gym.vo.Question">
		INSERT INTO question (
			customer_no,
			question_title,
			question_content
		) VALUES (
			#{customerNo},
			#{questionTitle},
			#{questionContent}
		)
	</insert>
	
	<select id="selectQuestionList"> <!-- 페이징 기능 추후 확인 -->
		SELECT 
			question_no AS questionNo,
			customer_no AS customerNo,
			question_title AS questionTitle,
			question_content AS questionContent,
			createdate, updatedate
		FROM question
	</select>
	
	<select id="selectQuestionOne" parameterType="com.example.gym.vo.Question"
										resultType="java.util.Map">
		SELECT 
			q.question_no AS questionNo,
			q.customer_no AS customerNo,
			q.question_title AS questionTitle,
			q.question_content AS questionContent,
			q.createdate AS qCreatedate, 
			q.updatedate AS qUpdatedate,
			
			c.customer_no AS customerNo,
			c.customer_id AS customerId,
	   <!-- c.customer_active AS customerActive,  //필요성 없을 것으로 추정 - 보류// -->
			c.createdate AS cCreatedate,
			c.updatedate AS cUpdatedate
			
		FROM question q
		INNER JOIN customer c
		ON q.customer_no = c.customer_no
			WHERE question_no = #{questionNo}
	</select>
	
	<!-- update 기능 가능여부 고려 중
	 <update id="updateQuestion" parameterType="com.example.gym.vo.Question">
		UPDATE question SET
			question_title = #{questionTitle},
			question_content = #{questionContent}
		WHERE question_no = #{questionNo}	
	</update> -->
	
	<delete id="deleteQuestion" parameterType="com.example.gym.vo.Question">
		DELETE FROM question 
			WHERE question_no = #{questionNo}
	</delete>	
	
</mapper>