<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gym.mapper.ReservationMapper">

   <select id="selectReservationList" parameterType="java.util.Map"
         resultType="java.util.Map">
        SELECT pr.program_reservation_no programReservationNo,
        	   p.payment_date paymentDate,
               b.branch_name branchName
          FROM program_reservation pr INNER JOIN payment p
            ON pr.payment_no = p.payment_no INNER JOIN program_date pd
            ON pr.program_date_no = pd.program_date_no INNER JOIN branch b
            ON pr.branch_no = b.branch_no       
         WHERE pr.payment_no = #{paymentNo}
           AND pd.program_date = #{programDate}
           AND pr.branch_no = #{branchNo}
           AND p.cutomer_no = #{customerNo}
           LIMIT #{beginRow}, #{rowPerPage}
   </select>
   
   <select id="reservationCount"
         resultType="Integer">
      SELECT count(*)
        FROM program_reservation
   </select>
   
   <insert id="insertReservation" parameterType="com.example.gym.vo.ProgramReservation">
          INSERT INTO program_reservation (
              payment_no,
              program_date_no,
              branch_no
          ) VALUES (
              #{paymentNo},
              #{programDateNo},
              #{branchNo}
   </insert>
   
   <delete id="deleteReservation" parameterType="com.example.gym.vo.ProgramReservation">
          DELETE FROM program_reservation
          WHERE payment_no = #{paymentNo}
            AND program_date_no = #{programDateNo}
            AND branch_no = #{branchNo}
   </delete>
   
   <!-- 지점 리스트조회 -->
   	<resultMap id="Branch" type="com.example.gym.vo.Branch">
	<result column="branch_no" property="branchNo"/>
	<result column="branch_name" property="branchName"/>
	<result column="branch_tel" property="branchTel"/>
	<result column="branch_address" property="branchAddress"/>
	</resultMap>
   
   
 
 
   
   
      
</mapper>