<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.gym.mapper.ReservationMapper">

   <select id="selectReservationList" parameterType="java.util.Map"
         resultType="java.util.Map">
        SELECT pr.program_reservation_no programReservationNo,
        	   p.payment_date paymentDate,
               b.branch_name branchName
          FROM program_reservation pr INNER JOIN payment p
            ON pr.payment_no = p.payment_no INNER JOIN program_date pd
            ON pr.program_date_no = pd.program_date_no INNER JOIN branch b
            ON pr.branch_no = b.branch_no       
         WHERE pr.payment_no = #{paymentNo}
           AND pd.program_date = #{programDate}
           LIMIT #{beginRow}, #{rowPerPage}
   </select>
   
   <select id="reservationCount" resultType="Integer">
	      SELECT count(*)
	        FROM program_reservation
   </select>
   <select id="selectProgram" parameterType="com.example.gym.vo.ProgramDate"
   		   resultType="java.util.Map">
   		    SELECT 
			       pd.program_date_no  programDateNo,
			       p.program_name programName
			  FROM program p INNER JOIN program_date pd
			    ON p.program_no = pd.program_no
			 WHERE pd.program_date = #{programDate}

   </select>
   
   
   
   <insert id="insertReservation" parameterType="java.util.Map">
		INSERT INTO program_reservation (
					payment_no,
					program_date_no,
					branch_no
		   ) VALUES (
					 #{paymentNo},
					 #{programDateNo},
					 (SELECT branch_no FROM branch WHERE branch_name = #{branchName})
					)
   </insert>
   
   <delete id="deleteReservation" parameterType="com.example.gym.vo.ProgramReservation">
       	  DELETE FROM program_reservation
          		WHERE program_reservation_no = #{programReservationNo}           	  
   </delete>
   
   
   
   
   
 
</mapper>